<!DOCTYPE html>
<html>
  <head>
    <title>GithubUsers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render('shared/navbar_nav') %>

    <main class="container">
      <%= render('shared/flashes') %>
      <%= yield %>
    </main>
  </body>
</html>
